absl-py==0.6.1
astor==0.7.1
boto3==1.9.66
botocore==1.12.66
cached-property==1.5.1
certifi==2018.11.29
chardet==3.0.4
Click==7.0
docker==3.6.0
docker-compose==1.23.2
docker-pycreds==0.4.0
dockerpty==0.4.1
docopt==0.6.2
docutils==0.14
gast==0.2.0
grpcio==1.17.1
h5py==2.8.0
idna==2.7
jmespath==0.9.3
jsonschema==2.6.0
Keras==2.2.4
Keras-Applications==1.0.6
Keras-Preprocessing==1.0.5
Markdown==3.0.1
numpy==1.15.4
protobuf==3.6.1
protobuf3-to-dict==0.1.5
python-crfsuite==0.9.6
python-dateutil==2.7.5
PyYAML==3.13
requests==2.20.1
s3transfer==0.1.13
sagemaker==1.16.1.post1
scikit-learn==0.20.1
scipy==1.1.0
six==1.12.0
sklearn-crfsuite==0.3.6
tabulate==0.8.2
tensorboard==1.12.1
tensorflow==2.3.1
termcolor==1.1.0
texttable==0.9.1
tqdm==4.28.1
urllib3==1.24.1
websocket-client==0.54.0
Werkzeug==0.14.1
